body{
    background: linear-gradient(#B3CEE5 0%, #f7cac9 30%);
}
.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    padding-top: 5%;
}
.fotoprofil{
    width: 210px;
    height: 250px;
    align-items: center;
    margin-top: 20px;
}
.profil h1{
    color: white;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profil h4{
    color: white;
    transform: translateY(-10px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.biodata {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(white 0%, #f7cac9 40%, #B3CEE5 100%);
    padding-top: 3%;
    padding-bottom: 10%;
}
.startEnd{
    padding-top: 20px;
}
.row{
    padding: 10px 10px;
}
.pendidikansd {
    margin-bottom: 20px;
}
.achievement{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: linear-gradient(#B3CEE5 40%, #f7cac9 100%);
   margin-bottom: 10%;
}
.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer {
   color: white;
}
.contact a{
    color:#1d355e;
    font-size: 30px;
    padding-bottom: 40px;
}
.watermark{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
}
.message-dike{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(white 0%, #B3CEE5 25%, #f7cac9 100%);;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
    height: 100vh;
}
.dike{

    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}   
.dike h1{
    color: black;
    font-weight: 500;
    margin-bottom: 20px 0;
}
.container .message-dike{
    display: flex;
    justify-content: center;
}
.form textarea, form input{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f7cac9;
    font-size: 16px;
}
.form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f7cac9;
    font-size: 16px;
}
.form input, form button{
    padding: 15px;
    background:#B3CEE5;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}